    <div class="container mt-4">
        <!--Section: Intro-->
        <section>
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    <!--Carousel Wrapper-->
                    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-2" data-slide-to="1"></li>
                            <li data-target="#carousel-example-2" data-slide-to="2"></li>
                            <li data-target="#carousel-example-2" data-slide-to="3"></li>
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <!-- <div class="view hm-black-light"> -->
                                <div class="view">
                                    <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/rhino_slide%2Frccl_people_v.jpg?alt=media&token=c5ef7cbc-53bf-4a81-9779-b4758246006e" alt="First slide">
                                    <div class="mask"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive"></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!--Mask color-->
                                <!-- <div class="view hm-black-strong"> -->
                                <div class="view">
                                    <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/rhino_slide%2Fsupport1.jpg?alt=media&token=5e81b626-62fd-43b7-b2d8-972ced903135" alt="Second slide">
                                    <div class="mask"></div>
                                </div>
                                <!-- <div class="carousel-caption">
                                    <h3 class="h3-responsive">people</h3>
                                    <p>watching the rhino cup champions league game</p>
                                </div> -->
                            </div>
                            <div class="carousel-item">
                                <!--Mask color-->
                                <!-- <div class="view hm-black-light"></div> -->
                                <div class="view">
                                    <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/rhino_slide%2Fkickstart.jpg?alt=media&token=c45d5e28-e532-4591-a156-7ebb4e019846" alt="Third slide">
                                    <div class="mask"></div>
                                </div>
                                <!-- <div class="carousel-caption">
                                    <h3 class="h3-responsive">Some long title 3</h3>
                                    <p>...and even longer description 3</p>
                                </div> -->
                            </div>
                            <div class="carousel-item">
                                <!--Mask color-->
                                <!-- <div class="view hm-black-light"></div> -->
                                <div class="view">
                                    <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/rhino_slide%2Fwoman.jpg?alt=media&token=cb15b73a-9533-4e63-83fc-7edad96f81d9" alt="Third slide">
                                    <div class="mask"></div>
                                </div>
                                <!-- <div class="carousel-caption">
                                    <h3 class="h3-responsive">Some long title 3</h3>
                                    <p>...and even longer description 3</p>
                                </div> -->
                            </div>
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/.Carousel Wrapper-->


                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4" id="basic-automation-wrapper">

                    <div class="center">
                        <h1><span>New Season Countdown</span><br></h1>
                        <div id="clock" class="justify-content-center"></div>
                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Intro-->

        <ul class="nav justify-content-center grey lighten-4" mb-4>
            {{#each equipes }}
                <li class="nav-item"><a href="/team/{{ id }}" class="nav-link">
                    <img width="32" src="{{emblema}}" alt="CORUMAMA FC" title="{{ nome_curto }}">
                </a></li>
            {{/each}}
        </ul>

        <div class="divider-new mt-0 mb-4">
            <h2 class="h3-responsive">
                <strong>What's new?</strong>
            </h2>
        </div>

        <!--Section: Posts-->
        <section class="text-center">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-1-half rounded">
                        <img src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/rhino_news%2Fwinning_team_1.jpg?alt=media&token=63c1609d-af55-41e3-a8c2-b2ea6d5fde36" class="img-fluid" alt="">
                        <a href="post-1.html">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!-- Author & date -->
                    <p class="hp-post-data">
                        <span>by</span>
                        <a class="font-up teal-text" href="" target="_blank">Wild and Free Foundation</a>
                        <span>- 24.05.2017</span>
                    </p>

                    <!-- Title -->
                    <a href="post-1.html" class="dark-grey-text">
                        <h4 class="mb-3 h4">Champions of RCCL 2018</h4>
                    </a>

                    <!-- Excerpt -->
                    <p class="text-justify">Club de Corrumane winner of the rccl 2018 edition celebrating his conquest. There were 12 teams that brightened the people of Sabie&#39;s Administrative post and rangers on every
                        weekend for 6 months. having the corumane club taken the best.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-1-half rounded">
                        <img src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/rhino_news%2Ftop_scorer.jpg?alt=media&token=7fd33f2f-0ff6-4d96-9601-b367fbf5f1f0" class="img-fluid" alt="">
                        <a href="post-2.html">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!-- Author & date -->
                    <p class="hp-post-data">
                        <span>by</span>
                        <a class="font-up teal-text" href="" target="_blank">Wild and Free Foundation</a>
                        <span>- 24.05.2017</span>
                    </p>

                    <!-- Title -->
                    <a href="post-2.html" class="dark-grey-text">
                        <h4 class="mb-3 h4">Best Scorer</h4>
                    </a>

                    <!-- Excerpt -->
                    <p class="text-justify">Community leaders and wild and free foundation in the company of the best scorer Fabião Bila of
                        the rhino cup champions league, engaged in the conquest and safeguarding of wildlife.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-1-half rounded">
                        <img src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/rhino_news%2Fbest_referee.jpg?alt=media&token=04a150f7-8a13-4456-a1b8-eb4d9ee88e7e" class="img-fluid" alt="">
                        <a href="post-3.html">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!-- Author & date -->
                    <p class="hp-post-data">
                        <span>by</span>
                        <a class="font-up teal-text" href="" target="_blank">Wild and Free Foundation</a>
                        <span>- 24.05.2017</span>
                    </p>

                    <!-- Title -->
                    <a href="post-3.html" class="dark-grey-text">
                        <h4 class="mb-3 h4">Best Referee</h4>
                    </a>

                    <!-- Excerpt -->
                    <p class="text-justify" style="">Our best referee, Mr Bernardo Dzimba, showed true courage when making some big decisions.
                        He stood up to fierce pressure, showing strength of character to manage players in heated
                        circumstances, which, in turn, earned him their respect.
                        Bernardo Dzimba, we congratulate you on a fantatsic season of outstanding performance!
                    </p>

                </div>
                <!--Grid column-->

                <!--Grid column project-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card image-->
                    <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 231.98px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28850.086090640965!2d32.24178291491045!3d-25.317434371948007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ee7a5f288d4326f%3A0xbcc386975f9ec2b8!2zU8OhYmnDqCwgTW_Dp2FtYmlxdWU!5e0!3m2!1spt-BR!2sus!4v1545219980147" 
                        width="600" height="231.98" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <!-- Author & date -->
                    <p class="hp-post-data">
                        <span>by</span>
                        <a class="font-up teal-text" href="" target="_blank">Wild and Free Foundation</a>
                        <span>- 24.05.2017</span>
                    </p>

                    <!-- Title -->
                    <a href="post-3.html" class="dark-grey-text">
                        <h4 class="mb-3 h4">​Administrative Post of Sabie</h4>
                    </a>

                    <!-- Excerpt -->
                    <p class="text-justify" style="">Administrative Post of Sabie is the stage of the rccl. 
                        Located in Mozambique in the province of Maputo, district of Moamba. 
                        Has as limits: North and East the districts of Magude and Manhiça, 
                        South: locality of Vundiça, West: Republic of South Africa through the Kruger National Park. 
                    </p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-1-half rounded">
                        <img src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/rhino_news%2Fagricultura.jpg?alt=media&token=948325e1-ff97-4e9b-9393-b5282cec5312" class="img-fluid" alt="">
                        <a href="post-3.html">
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!-- Author & date -->
                    <p class="hp-post-data">
                        <span>by</span>
                        <a class="font-up teal-text" href="" target="_blank">Wild and Free Foundation</a>
                        <span>- 24.05.2017</span>
                    </p>

                    <!-- Title -->
                    <a href="post-3.html" class="dark-grey-text">
                        <h4 class="mb-3 h4">WILD AND FREE FARMS</h4>
                    </a>

                    <!-- Excerpt -->
                    <p class="text-justify" style="">Instead of investing in a militarized response to poaching, 
                        financial disbursements should be re-channelled to uplift the livelihoods of local people.
                        Activities | with a population of 23000 inhabitants, about of 16040 live on the basis of rainfed agriculture, 
                        that is to say, it depends entirely on the rain and only about 177 practice mechanized agriculture. 
                        The fishing is another activity developed in Sabie specifically in the locality of corumana.
                    </p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight z-depth-1-half rounded" style="height: 231.98px">
                        <video class="video-fluid z-depth-1" autoplay loop controls muted>
                            <source src="https://firebasestorage.googleapis.com/v0/b/rhinocupchampionsleaguemz.appspot.com/o/videos%2F(3)%20Wild%20and%20Free%20Foundation%20-%20Community%20Meeting%20in%20Mozambique%20-%20Facebook.mp4?alt=media&token=67f3dc69-acbd-438d-aaa3-2020c6d746d9" type="video/mp4" />
                        </video>
                    </div>

                    <!-- Author & date -->
                    <p class="hp-post-data">
                        <span>by</span>
                        <a class="font-up teal-text" href="" target="_blank">Wild and Free Foundation</a>
                        <span>- 24.05.2017</span>
                    </p>

                    <!-- Title -->
                    <a href="post-3.html" class="dark-grey-text">
                        <h4 class="mb-3 h4">Community Meeting in Mozambique</h4>
                    </a>

                    <!-- Excerpt -->
                    <p class="text-justify" style="">We met with the community in Mozambique -- chiefs, elders, 
                        soccer players / rhino poachers and community members -- to speak to them about an opportunity we believe will uplift their community while saving the rhino. Watch how it went
                    </p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Posts-->
    </div>