    <!--Main Navigation-->
    <header>

        <!--Navbar  style="background-color: #616161;"-->
        <nav class="navbar navbar-expand-lg grey darken-3">
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand" href="/">
                    <img src="/img/png/wff_logo.png" height="30" alt="mdb logo">
                </a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ffe0b2; font-weight: bold" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff6d00; font-weight: bold"  href="#">GALLERY</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" style="color:#ff6d00; font-weight: bold"  href="#">GAME SCHEDULE</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff6d00; font-weight: bold"  href="/about">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff6d00; font-weight: bold"  href="#">CONTACT</a>
                        </li>
                    </ul>
                    <!-- Links -->

                    <!-- Icons -->
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff6d00; font-weight: bold"  href="https://twitter.com/wildandfreefdn">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff6f00; font-weight: bold" href="https://www.facebook.com/wildandfreefoundation">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff6f00; font-weight: bold"  href="https://www.instagram.com/wildandfreefoundation/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff6f00; font-weight: bold" target="_blank" href="https://www.flipcause.com/secure/cause_pdetails/NDA0MTQ=">
                                <i class="badge badge-pill badge-dark pink"> Donate</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible content -->
            </div>
        </nav>
        <!--/.Navbar-->
     
    </header>
    <!--Main Navigation-->