<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          RCCL MZ
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item dashboard">
            <a class="nav-link" href="/admin">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item enter-scor">
            <a class="nav-link" href="/enter_scores">
              <i class="material-icons">content_paste</i>
              <p>Enter scores</p>
            </a>
          </li>
          <li class="nav-item add-game">
            <a class="nav-link" href="/enter_scores">
              <i class="material-icons">bubble_chart</i>
              <p>Add Game</p>
            </a>
          </li>
        </ul>
      </div>
    </div>